{{- $permalink := .Permalink -}}

<div class='container entry-content'>
  {{ .Content }}

  <!-- {{- with .Params.images -}}
    {{- range . -}}
      <img src="{{ . }}" />
    {{- end -}}
  {{- end -}} -->
  {{ if not .Params.disableGallery }}
    {{ with .Resources.ByType "image" }}
      <div id="lightgallery">
        {{ range . }}
    		<a href="{{ .RelPermalink }}" {{- with .Params.caption }} data-sub-html="{{ . }}" {{ end -}} >
      		<img src="{{ .RelPermalink }}" />
          {{ with .Params.caption }} {{ . }} {{ end }}
      	</a>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>
