{{- $permalink := .Permalink -}}
{{- $pageParams := .Params -}}

<div class='container entry-content'>
  {{ .Content }}

  {{ if not .Params.disableGallery }}
    {{ with .Resources.ByType "image" }}
        <div id="lightgallery">
          {{ range . }}
            {{ if not (and $pageParams.cover.hideInGallery (in .Name $pageParams.cover.image))}}
          		<a href="{{ .RelPermalink }}" {{- with .Params.caption }} data-sub-html="{{ . }}" {{ end -}} >
            		<img src="{{ (.Fit "740x1100 Lanczos").RelPermalink }}" />
                {{ with .Params.caption }} {{ . }} {{ end }}
            	</a>
            {{ end }}
          {{ end }}
        </div>
    {{ end }}
  {{ end }}
</div>
