{{- $type := ( printf "%T" .Params.cover ) -}}
{{  $isMap := ( not ( eq $type "string" ) ) }}
<!-- TODo this is the worst ): -->

{{ with .Params.cover }}
  {{ if $isMap }}
    {{ $.Scratch.Set "imgFileName" .image }}
  {{ else }}
    {{ $.Scratch.Set "imgFileName" . }}
  {{ end }}

  {{ with $.Scratch.Get "imgFileName" }}
    {{ with . | printf "*%s*"  | $.Resources.GetMatch }}
      {{ $.Scratch.Set "coverResource" . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not ( .Scratch.Get "coverResource" ) }}
  {{ .Scratch.Set "coverResource" (index (.Resources.ByType "image") 0) }}
{{ end }}

{{ $coverResource := .Scratch.Get "coverResource" }}
{{ $cover := ($coverResource.Fit "400x600 Lanczos") }}

{{ if not ( .Scratch.Get "coverResource" ) }}
  {{ with .Params.cover }}
    {{ if $isMap }}
      {{ $cover = .image }}
    {{ else }}
      {{ $cover = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{- with $cover.Permalink -}}
  <div class='entry-cover cover-{{/*{{- if $isMap -}}
     {{- with $.Params.cover.style -}} {{ . }} {{- else -}} normal {{- end -}}
    {{- else -}} normal {{- end -}} */}}
    cover-normal cover
  '>
    <a href="{{ $.Permalink }}">
      <figure>
        <img src='{{ $cover.RelPermalink }}'
          {{- if $isMap }}
            {{- with ( $.Params.cover.alternate | default $.Params.cover.caption ) }} alt='{{ . | markdownify }}'{{ end -}}
          {{ end -}} />
          {{ with $.Params.Title }}
          <figcaption class='container'>
            <span>
              {{- . | markdownify -}}
            </span>
          </figcaption>
          {{ end }}
      </figure>
    </a>
  </div>

{{- end -}}
